.App {
  height: 100vh;
  width: 100vw;
  background-color: #4F81BD;
  display: flex;
}

.body-container {
  flex-grow: 1;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 3fr;
  grid-template-areas:
    "lrg ."
    "lrg ."
    "med ."
  ;
  margin: 3rem;
}

.panel {
  border: 1px solid black;
  background-color: white;
  margin: 0.5rem;
}

.panel-lrg {
  grid-area: lrg;
}

.panel-med {
  grid-area: med;
}
