.App {
  height: 100vh;
  width: 100vw;
  background-color: #4F81BD;
  display: flex;
}

.body-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 3rem;
}

.panel {
  border: 1px solid black;
  flex-grow: 1;
  background-color: white;
  margin: 0.5rem;
}

.panel-lrg {
  min-height: 45%;
  min-width: 55%;
}

.panel-med {
  min-height: 45%;
  min-width: 55%;
}

.panel-sml {
  min-height: 30%;
  min-width: 33%;
}
